<style>
    body {
        font-family: Sans-serif
    }
</style>

Queridos Fede y Denu,
<br>
<br>
Recibieron un Regalo de:
<br>
<strong>{{name}}</strong>.
<hr>
Además les escribieron esta dedicatoria:
<br>
<p>{{comments}}</p>
<hr>