@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Norican&display=swap");
body,
html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #535d3c;
}

h2 {
  font-family: "Amatic SC", cursive;
  font-size: 5em;
  font-weight: bold;
}

h3 {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}

h5 {
  font-weight: 600;
}

strong {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}

.text-primary {
  color: #535d3c !important;
}

.mb-negative {
  margin-bottom: -40px;
}

.opacity-8 {
  opacity: 0.8;
}

.text-dark-gray {
  color: #222222 !important;
}

.col-text {
  min-width: 130px;
}

.large {
  font-size: x-large;
}

.font-weight-500 {
  font-weight: 500;
  font-size: 2em;
}

.font-weight-600 {
  font-weight: 600;
  font-size: 1.7em;
}

.wrapper {
  position: relative;
  margin-top: 180vh;
  background: #fff;
  padding: 20px;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

.logo-container {
  position: relative;
  z-index: 1;
  top: 250px;
  text-align: center;
  width: 100%;
}

.logo-container img {
  max-width: 30%;
  margin-top: -10rem;
  margin-bottom: 1rem;
}

.logo-container h2 {
  color: #b88e52;
}

.logo-container .down {
  margin-top: 10vh;
}

.logo-container .down i {
  color: #b88e52;
}

#logo {
  max-width: 80%;
  -webkit-animation: fill 0.5s ease forwards 3.6s;
          animation: fill 0.5s ease forwards 3.6s;
}

#logo .path-1 {
  stroke-dasharray: 467px;
  stroke-dashoffset: 467px;
  -webkit-animation: line-amimation 2s ease forwards;
          animation: line-amimation 2s ease forwards;
}

#logo .path-2 {
  stroke-dasharray: 250px;
  stroke-dashoffset: 250px;
  -webkit-animation: line-amimation 2s ease forwards 0.2s;
          animation: line-amimation 2s ease forwards 0.2s;
}

#logo .path-3 {
  stroke-dasharray: 341px;
  stroke-dashoffset: 341px;
  -webkit-animation: line-amimation 2s ease forwards 0.4s;
          animation: line-amimation 2s ease forwards 0.4s;
}

#logo .path-4 {
  stroke-dasharray: 250px;
  stroke-dashoffset: 250px;
  -webkit-animation: line-amimation 2s ease forwards 0.6s;
          animation: line-amimation 2s ease forwards 0.6s;
}

#logo .path-5 {
  stroke-dasharray: 530px;
  stroke-dashoffset: 530px;
  -webkit-animation: line-amimation 2s ease forwards 0.8s;
          animation: line-amimation 2s ease forwards 0.8s;
}

#logo .path-6 {
  stroke-dasharray: 582px;
  stroke-dashoffset: 582px;
  -webkit-animation: line-amimation 2s ease forwards 1s;
          animation: line-amimation 2s ease forwards 1s;
}

#logo .path-7 {
  stroke-dasharray: 250px;
  stroke-dashoffset: 250px;
  -webkit-animation: line-amimation 2s ease forwards 1.2s;
          animation: line-amimation 2s ease forwards 1.2s;
}

#logo .path-8 {
  stroke-dasharray: 270px;
  stroke-dashoffset: 270px;
  -webkit-animation: line-amimation 2s ease forwards 1.4s;
          animation: line-amimation 2s ease forwards 1.4s;
}

#logo .path-9 {
  stroke-dasharray: 270px;
  stroke-dashoffset: 270px;
  -webkit-animation: line-amimation 2s ease forwards 1.6s;
          animation: line-amimation 2s ease forwards 1.6s;
}

@-webkit-keyframes line-amimation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-amimation {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: black;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: black;
  }
}

#heart {
  background: url(../img/hero.jpg);
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: center;
}

#heart img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff url(../img/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: screen;
  background-size: 0;
}

/*Date section*/
#main .main-section {
  margin: -25px;
  padding: 0 12vw;
}

#main .main-section div h3 {
  margin-top: 11rem;
}

#main .main-section img {
  position: absolute;
  margin-left: -13vw;
  margin-top: -1rem;
  width: 25%;
}

.countdown span.label {
  font-size: 0.85rem;
  font-weight: 400;
  display: block;
  color: black;
}

.countdown span.counter {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  font-family: "Norican";
  color: black;
}

.countdown-shadow {
  border-radius: 10px;
  -webkit-box-shadow: 0.56rem 0.56rem 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0.56rem 0.56rem 0 rgba(0, 0, 0, 0.02);
}

.card-title {
  font-weight: bold;
}

.card-party {
  background: #535d3c;
  color: #fff;
}

.card-church {
  background: #b88e52;
  color: #fff;
  min-height: 434px;
}

.card {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.button {
  background-color: #535d3c;
  color: #fff;
  -webkit-box-shadow: 0 3px 9px 0 #999;
          box-shadow: 0 3px 9px 0 #999;
  font-weight: bold;
}

.button:hover {
  color: #fff;
  -webkit-box-shadow: 0 2px 7px 0 #777;
          box-shadow: 0 2px 7px 0 #777;
  -webkit-transform: translateY(1px) translateX(1px);
          transform: translateY(1px) translateX(1px);
}

.button:active {
  -webkit-box-shadow: 0 1px 5px 0 #666;
          box-shadow: 0 1px 5px 0 #666;
  -webkit-transform: translateY(3px) translateX(3px);
          transform: translateY(3px) translateX(3px);
}

/* End of Date section */
/*Story section*/
#story {
  margin-top: 20vh;
}

#story img.img-right {
  position: absolute;
  height: 70vw;
  width: 20%;
  margin-top: -10vw;
  margin-left: 80%;
}

#story img.img-left {
  position: absolute;
  height: 70vw;
  width: 20%;
  margin-right: 80%;
  margin-top: -65vw;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.story {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  width: 100%;
}

.story li .story-icon {
  margin-left: -1.5rem;
  margin-right: 1.5rem;
}

.story-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.story-icon .icon-svg {
  height: 1rem;
}

.story li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-left: 50%;
}

.story li .col-img {
  margin-left: -40%;
  position: absolute;
  z-index: 2;
}

.story li:nth-child(2n) .story-icon {
  margin-right: -1.5rem;
  margin-left: 1.5rem;
}

.story li:nth-child(2n) {
  margin-left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

.story li:nth-child(2n) .col-img {
  margin-left: 40%;
  position: absolute;
}

.story li:nth-child(2n) img {
  margin-left: 110%;
}

.story li:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  top: 4rem;
  width: 2px;
  height: 5rem;
  background: #b88e52;
  opacity: 0.5;
}

.story li:not(:last-child) {
  position: relative;
  padding-bottom: 7rem;
}

.bg-icon-primary {
  background: #d6bc8173 !important;
}

/*End story section*/
#gift {
  margin-top: 8rem;
  padding: 0 10vw;
}

#gift img {
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-top: -22rem;
  margin-left: 50%;
}

#gift #bank i {
  color: #b88e52;
}

#gift #bank p {
  font-size: x-large;
  margin-top: 15px;
}

#gift #bank p strong {
  font-size: xx-large;
}

#gift #bank .button {
  background-color: #b88e52;
}

#gift #bank .button i {
  color: #fff;
}

#gift #instagram {
  margin-top: 25rem;
}

#gift #instagram i {
  color: #535d3c;
}

#gift #instagram p {
  font-size: x-large;
  margin-top: 15px;
}

#gift #instagram b {
  font-size: xx-large;
}

#gift #instagram .container {
  color: #535d3c;
  max-width: 400px;
}

#rsvp {
  margin-top: 8rem;
}

#rsvp img {
  margin-top: 10px;
  max-width: 100%;
}

#ending {
  margin-top: 8rem;
}

#ending img {
  bottom: 0;
  position: absolute;
  width: 30%;
  margin-top: 20rem;
}

#ending img.img-right {
  margin-left: 70%;
}

#ending img.img-left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: -20px;
}

#ending b {
  color: #b88e52;
  font-size: xx-large;
}

/*Mediaqueries*/
.btn-navbar-toggler {
  margin-top: 1.375rem;
  margin-bottom: 1.375rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px 13px;
  color: #333342;
  font-size: 1rem;
}

@media (max-width: 1668px) {
  .story li:nth-child(2n) .col-img {
    margin-left: 45%;
  }
  .story li .col-img {
    margin-left: -45%;
  }
  .logo-container img {
    width: 40vw;
    max-height: 36vw;
    max-width: unset;
    margin-top: -7rem;
  }
}

@media (max-width: 1460px) {
  .story li:nth-child(2n) .col-img {
    margin-left: 50%;
  }
  .story li .col-img {
    margin-left: -50%;
  }
}

@media (max-width: 1200px) {
  .story li:nth-child(2n) .col-img {
    margin-left: 60%;
  }
  .story li:nth-child(2n) img {
    margin-left: 115%;
  }
  .story li .col-img {
    margin-left: -60%;
  }
  .logo-container img {
    width: 50vw;
    max-height: 36vw;
    max-width: unset;
    margin-top: -7rem;
  }
  #gift img {
    width: 40%;
  }
}

@media (max-width: 1024px) {
  .story li:nth-child(2n) .col-img {
    margin-left: 70%;
  }
  .story li .col-img {
    margin-left: -70%;
  }
}

@media (min-width: 992px) {
  .display-4 {
    font-size: 3.5rem;
  }
  .img-round {
    border-radius: 10%;
    max-height: 200px;
    max-width: 300px;
  }
  .svg-decoration.bottom-right,
  .svg-decoration.middle-left {
    display: block;
  }
  .display-state {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (max-width: 991px) {
  .story li:nth-child(2n) .col-img {
    margin-left: 80%;
  }
  .story li:nth-child(2n) img {
    margin-left: 140%;
  }
  .story li .col-img {
    margin-left: -80%;
  }
  .img-round {
    border-radius: 10%;
    max-width: 170px;
  }
  .logo-container img {
    width: 60vw;
    max-height: 36vw;
    max-width: unset;
    margin-top: -7rem;
  }
  #main .main-section div h3 {
    margin-top: 3rem;
  }
  #main .main-section img {
    margin-top: 0;
  }
}

@media (max-width: 767.98px) {
  .story li:nth-child(2n) .col-img {
    margin-left: 100%;
  }
  .story li:nth-child(2n) img {
    margin-left: 145%;
  }
  .story li .col-img {
    margin-left: -100%;
  }
  .img-round {
    border-radius: 10%;
    max-width: 170px;
  }
  .card-party {
    margin-top: 2em;
  }
  .logo-container img {
    width: 70vw;
    max-height: 36vw;
    max-width: unset;
    margin-top: -7rem;
  }
  #heart {
    background: url(../img/hero-sm.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
  }
  #gift {
    padding: 0 1vw;
  }
  #gift #instagram {
    margin-top: 4rem;
  }
  #gift #instagram b {
    font-size: x-large;
  }
}

@media (max-width: 575px) {
  .display-2 {
    font-size: 4.2rem;
  }
  .display-3 {
    font-size: 3.5rem;
  }
  .display-4 {
    font-size: 2.5rem;
  }
  h1,
  .h1 {
    font-size: 2rem;
  }
  h2,
  .h2 {
    font-size: 1.875rem;
  }
  h5,
  .h5 {
    font-size: 1rem;
  }
  .img-round {
    border-radius: 10%;
    max-width: 145px;
  }
  .story li:nth-child(2n) .col-img {
    margin-left: 105%;
  }
  .story li .col-img {
    margin-left: -105%;
  }
  .story li:not(:last-child):after {
    top: 5.5rem;
    height: 5rem;
  }
  .logo-container img {
    width: 80vw;
    max-height: 36vw;
    max-width: unset;
    margin-top: -7rem;
  }
  #story img.img-left {
    margin-top: 50vw;
  }
  #gift img {
    display: none;
  }
}

@media (max-width: 375px) {
  .img-round {
    border-radius: 10%;
    max-width: 135px;
  }
  .story li:nth-child(2n) .col-img {
    margin-left: 112%;
  }
  .story li .col-img {
    margin-left: -115%;
  }
  .story li:nth-child(2n) .col-text {
    margin-left: 50%;
  }
  .story li .col-text {
    margin-left: -20%;
  }
}

@media (max-width: 320px) {
  .img-round {
    border-radius: 10%;
    max-width: 115px;
  }
}

/*End mediaqueries*/
/*# sourceMappingURL=main.css.map */